<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>

<table border="1">
    <tr>
        {% for field in fields_name %}
            <th>{{field.name}}</th>
        {% endfor%}
    </tr>
    {% for index in data%}
    <div style="overflow-x:auto;"></div>
    <tr>
        <td>{{index.id}}</td>
        <td>{{index.number}}</td>
        <td>{{index.times}}</td>
    </tr>
    </div>
    {% endfor%}

</table>

</body>
<form action="{% url 'cal:input' %}" method="get">
<input type="submit" value="Back">
</form>

<form action="{% url 'cal:NOrder' %}" method="get">
<input type="submit" value="OrderByNumber">
</form>
